name: Assign Issue
on:
  issue_comment:
    types: [created]
jobs:
  assign:
    if: contains(github.event.comment.body, '/assign')
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Assign
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.addAssignees({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              assignees: [context.payload.comment.user.login]
            })