name: CI TDD
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Récupération du code
        uses: actions/checkout@v3
      - name: Installation Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Installation des outils
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov
      - name: Lancement des tests
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          python -m pytest -rs -v --cov=src